* {
    box-sizing: border-box;
}

:root {
    /* Palette */
    --p-white: #fff;
    --p-alabaster: #f7f7f7;
    --p-black: #000;

    /* Normal colors */
    --topBarBg: var(--p-white);
    --topBarTxt: var(--p-black);
    --mainBg: var(--p-alabaster);

    /* Sizes */
    --s-topbar-height: 64px;
    --s-spacing-big: 48px;
    --s-spacing-small: 24px;
}

body {
    background: var(--mainBg);
}

a {
    text-decoration: none;
    color: inherit;
}
